<% if @booking.errors.any? %>
<h2><%= @booking.errors.count %> erros encontrado ao salvar livro:</h2>
<% end %>

<%= simple_form_for(@booking, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
  <% if current_user.role == "admin" %>
    <%= f.association :user, label: "Reservar para" %>
  <% end %>

  <%= f.association :book, label: "Livro" %>

  <%= f.input :reserved_to, as: :calendar %>

  <div class="col-sm-offset-3">
    <%= f.submit "Salvar", class: 'btn btn-primary' %>
    <%= link_to "Voltar", bookings_path, class: 'btn' %>
  </div>
<% end %>
