<% if @book.errors.any? %>
<h2><%= @book.errors.count %> erros encontrado ao salvar livro:</h2>

<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= simple_form_for @book, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
      <%= f.input :title %>
      <%= f.input :publication_year %>
      <%= f.association :author %>
      <%= f.input :resume %>
      <%= f.input :total_pages %>
      <%= f.input :cover, as: :file %>

      <div class="form-group">
        <div class="col-sm-12 col-sm-offset-3">
          <%= f.submit "Salvar", class: 'btn btn-primary' %>
        </div>
      </div>
<% end %>
