<h1>Autores</h1>

<div class="alert" style="display: none"></div>

<div class="row">
  <%= form_tag authors_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Pesquisar" %>
  <% end %>
</div>

<% if params[:search].present? %>
  <div class="alert alert-success">
    <%= @authors.size %> resultados encontrados.
  </div>
<% end %>

<div class="row">
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th></th>
  </tr>
  
  <% @authors.each do |author| %>
  <tr id="author-<%= author.id %>">
    <td><%= author.id %></td>
    <td><%= author.name %></td>
    <td><%= I18n.l author.birthdate rescue "-" %></td>
    <td class="pull-right">
      <%= link_to "Detalhes", author_path(author.id), class: 'btn btn-xs btn-primary' %>
      <%= link_to "Editar", edit_author_path(author.id), class: 'btn btn-xs btn-success' %>
      <%= link_to "Deletar", author_path(author.id), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Deseja remover este item?', remote: true } %>
    </td>
  </tr>
  <% end %>
</table>
</div>

<%= will_paginate @authors %>

<% if can?(:authors, :new) %>
<%= link_to "Novo autor", new_author_path, class: "btn btn-primary" %>
<% end %>
